@ptml:registry=https://pkgs.dev.azure.com/PartsTrader/COGS/_packaging/NPM-Feed/npm/registry/
always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_TOKEN}

registry=https://registry.npmjs.org/